@charset "UTF-8";


    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 20px; /* Added */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:80%;
	}
	
	.form-signin .form-control {
  		position: relative;
  		height: auto;
  		/* -webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        	 box-sizing: border-box; */
       -webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        	 box-sizing: border-box;
  		padding: 10px;
  		font-size: 16px;
  		
	}
	.lable-use{
		font-size: 25px;
	}
	
	#btn-padd{
		width:40%;
	}
	
/* 메인파일업로드 css  */
.uploadResult {
	width: 100%;
	background-color: white;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
	align-content: center;
	text-align: center;
}

.uploadResult ul li img {
	width: 100px;
}
.uploadResult ul li span{
	color:white;
}

/* 서브파일업로드 css  */
.uploadResult2 {
	width: 100%;
	background-color: white;
}

.uploadResult2 ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadResult2 ul li {
	list-style: none;
	padding: 10px;
	align-content: center;
	text-align: center;
}

.uploadResult2 ul li img {
	width: 100px;
}
.uploadResult2 ul li span{
	color:white;
}



.bigPictureWrapper {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top:0%;
  width:100%;
  height:100%;
  background-color: white; 
  z-index: 100;
  bgckground:rgba(255,255,255,0,5);
}

.bigPicture {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bigPiture img{
	width : 600px;
}
/* /파일업로드 CSS  */
